@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Apply the custom font family globally */
* {
  font-family: 'Montserrat', sans-serif;
}
li {
  text-align: center;
}
.error{
  color: red;
}